.registra-section {
  min-height: 100vh;
  margin-top: 150px;
}

.registra-section h2 {
  color: whitesmoke;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-block: 2.5rem;
  text-align: center;
}

.form-section {
  margin-top: 50px;
  width: 45%;
  text-align: center;
}

.check-section {
  margin-top: 30px;
  text-align: start;
}

.bg-titoli {
  background: #4a7587;
  color: whitesmoke;
}
