.dettaglio-utente-section {
  min-height: 80vh;
  margin-top: 150px;
}

.indietro-button {
  display: flex;
  justify-content: left;
  margin-bottom: 5px;
}

.indietro-button button {
  background-color: #053c51;
}

.img-contain-utente {
  max-width: 300px;
}

.img-contain-utente img {
  width: 100%;
  max-height: 350px;
  border-radius: 50%;
}
.error-section {
  text-align: center;
}
