.home-section h1 {
  text-align: center;
  font-size: 70px;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.home-section {
  padding: 20px;
}

.bg-titoli {
  background: #4a7587;
  color: whitesmoke;
}
