.myNav {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s ease;

  color: rgb(214, 214, 214);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
}

.myNav-scrolla {
  background: white;
}

.titleNav {
  font-weight: 700;
  color: #4a7587;
}

.nav-contain {
  color: #131616;
}
