.lista-preventivi-section {
  height: 80vh;
  margin-top: 150px;
}
.lista-preventivi-section h2 {
  color: rgb(42, 59, 83);
  padding-left: 1rem;
  padding-top: 1rem;
  margin-block: 2.5rem;
  text-align: center;
}

.list-section {
  text-align: center;
}
