.gestione-utenti-section {
  min-height: 80vh;
  margin-top: 150px;
}

.gestione-utenti-section h2 {
  color: rgb(42, 59, 83);
  padding-left: 1rem;
  padding-top: 1rem;
  margin-block: 2.5rem;
  text-align: center;
}
