.myProfile-section {
  min-height: 80vh;
  margin-block: 150px;
}

.myProfile-section h2 {
  color: rgb(42, 59, 83);
  padding-left: 1rem;
  padding-top: 1rem;
  margin-block: 2.5rem;
  text-align: center;
}

.img-contain-profilo {
  max-width: 300px;
}

.img-contain-profilo img {
  width: 100%;
  max-height: 350px;
  border-radius: 50%;
}

.img-contain-profilo img:hover {
  cursor: pointer;
}
