.lista-preventivi-section {
  min-height: 100vh;
  margin-block: 150px;
}
.lista-preventivi-section h2 {
  padding-left: 1rem;
  padding-top: 1rem;
  margin-block: 2.5rem;
  text-align: center;
}

.list-section {
  text-align: center;
}
